main(role="main")
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1.display-3 #{title}
        p
          | #{tagline}
        p
          a.btn.btn-primary.btn-lg(href="/about", role="button") Learn more »