.container
    // Example row of columns
    .row
      .col-md-4
        h2 JavaScript
        p
          | JavaScript (JS) is a lightweight interpreted or JIT-compiled programming language with first-class functions. JavaScript is a prototype-based, multi-paradigm, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles.
        p
          a.btn.btn-secondary(href="#", role="button") View details »
      .col-md-4
        h2 Node.js®
        p
          | Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
        p
          a.btn.btn-secondary(href="#", role="button") View details »
      .col-md-4
        h2 Arduino/Johnny-Five.io
        p
          | Johnny-Five is the JavaScript Robotics and IoT Platform. Released by Bocoup in 2012, Johnny-Five is maintained by a community of passionate software developers and hardware engineers. Over 75 developers have made contributions towards building a robust, extensible and composable ecosystem.
        p
          a.btn.btn-secondary(href="/arduino", role="button") View details »
    hr